source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit.Runners
nuget Nuget.CommandLine
nuget FAKE
nuget OpenFileSystem
nuget SourceLink.Fake
nuget UnionArgParser
nuget DotNetRdf
nuget Suave
nuget XUnit
nuget XUnit.Runners

github fsharp/FAKE modules/Octokit/Octokit.fsx
github nhsevidence/ld-mimir common/RDF.fs